name: API Gateway CI/CD

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - run: chmod +x gradlew
      - run: ./gradlew clean check

  deploy:
    needs: build
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/77695632782/locations/global/workloadIdentityPools/github/providers/github-provider
          service_account: github-deployer@boredsoftwaredeveloper.iam.gserviceaccount.com

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build Docker image
        run: |
          docker build -t us-central1-docker.pkg.dev/boredsoftwaredeveloper/backend/api-gateway:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push us-central1-docker.pkg.dev/boredsoftwaredeveloper/backend/api-gateway:${{ github.sha }}

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy api-gateway \
            --image us-central1-docker.pkg.dev/boredsoftwaredeveloper/backend/api-gateway:${{ github.sha }} \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated \
            --min-instances=0 \
            --memory=512Mi \
            --cpu=1
